@import '../shared/colors'

.world
  .cells
    #canvas
        border: solid 1px color-primary
        cursor: pointer

  .generation
    .geology-playback
      &.playback
        &::after
          content: "⏸"
      &.paused
        &::after
          content: "▶"