@import '../shared/colors'

.world
  .cells
    #canvas
        border: solid 1px color-primary
        cursor: pointer

  .generation
    .geology-playback
      &.playback
        i
          display: inline-block
          width: 32px
          height: 32px
          background: url('./images/play.png') center center no-repeat
          background-size: contain
      &.paused
        i
          display: inline-block
          width: 32px
          height: 32px
          background: url('./images/pause.png') center center no-repeat
          background-size: contain